
/* Top level css styling */
body {
  margin: 0;
  /* background-color: black; */
  background-image: url('./Media/desktopView-background-grid-tile.png');
  background-repeat: repeat;
  background-size: 1.983vw;
  overflow-x: hidden;
  overflow-y: auto;
}